* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    background: #635ef5;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

/* ===== GLASS FORM ===== */
.route-form {
    width: 900px;
    padding: 40px 50px;
    border-radius: 14px;
    background: #c78ef9;
    box-shadow: 0 20px 40px rgba(0,0,0,0.45);
}

/* ===== TITLE ===== */
.route-form h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
    font-size: 28px;
    letter-spacing: 1px;
}

/* ===== GRID ===== */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px 50px;
}

/* ===== FIELD ===== */
.field {
    display: flex;
    flex-direction: column;
}

.field label {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}

.field input {
    padding: 12px 14px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 14px;
}

/* ===== ADD BUTTON ===== */
.button {
    display: block;
    margin: 30px auto 20px;
    width: 35%;
    padding: 12px;

    background: #8b0000;
    color: #fff;
    font-size: 15px;
    font-weight: 600;

    border: none;
    border-radius: 6px;
    cursor: pointer;

    box-shadow: 0 8px 16px rgba(0,0,0,0.45);
    transition: all 0.3s ease;
}

.button:hover {
    background: #3d261b;
    border: 1px solid red;
    box-shadow: 0 0 12px rgba(255,0,0,0.7);
}

/* ===== FOOTER ===== */
.form-footer {
    display: flex;
    justify-content: space-between;
}

.form-footer a {
    padding: 10px 18px;
    background: #8b0000;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    border-radius: 6px;

    box-shadow: 0 6px 14px rgba(0,0,0,0.4);
    transition: all 0.3s ease;
}

.form-footer a:hover {
    background: #3d261b;
    box-shadow: 0 0 10px rgba(255,0,0,0.6);
}

/* ===== MESSAGES ===== */
.success {
    color: #00ff99;
    text-align: center;
    margin-top: 15px;
}

.error {
    color: #ff4d4d;
    text-align: center;
    margin-top: 15px;
}
